.howAndWho {
	background-color: #e4e4e4;
	padding: 3.888888889rem 0;
	@include media-breakpoint-up(lg) {
		background: #e4e4e4 url(../images/watermark.svg) no-repeat center;
		background-size: 808px 808px;
		background-position-x: 152%;
	}
	@include media-breakpoint-up(xl) {
		background-position-x: 102%;
	}
	@include e(forWho) {
		position: relative;
		h2 {
			font-family: $ff-2;
			text-transform: uppercase;
			font-size: 1rem;
			font-weight: bold;
			color: $primary-light;
			margin-bottom: .3rem;
		}
		img {
			border-top: 2px solid #d4d4d4;
			padding-top: .7rem;
		}
	}
	@include e(infoBlock) {
		width: 250px;
		background-color: #fff;
		position: absolute;
		bottom: 1rem;
		padding: 1.25rem 1.75rem;
		border-bottom: 10px solid #9b172f;
		box-shadow: 0px 0px 45px -10px rgba(0,0,0,0.55);
		left: -2rem;
		p {
			font-size: 1.222rem;
			font-family: $ff-2;
			line-height: 1.5rem;
		}
		a {
			text-transform: uppercase;
			font-family: $ff-2;
			font-weight: bold;
			i {
				padding-left: .5rem;
			}
		}
	}
}

.callOut {
	font-size: 1.333333333rem;
	line-height: 1.75rem;
	font-weight: medium;
	font-family: $ff-2;
}
.btn {
	color: white !important;
	font-weight: bold;
	font-family: $ff-2;
	border-radius: 0;
	padding: .5rem 1.5rem;
}

.meetDon {
	background:#555555;
	color: rgba($white, .75);
	h2 {
		font-size: 1.8rem;
		@include media-breakpoint-up(lg) {
			font-size: 2rem;
			font-weight: medium;
		}
	}
	p {
		@include media-breakpoint-between(sm,lg) {
			font-size: .941176471rem;
		}
	}
}
#page-wrapper {
	padding: 3rem 0 1rem;
	@include media-breakpoint-up(sm) {
		padding: 3rem 0;
	}
}
.pageContent {
	h1 {
		text-transform: uppercase;
		font-size: 2.25rem;
		margin-bottom: .5rem;
		@include media-breakpoint-up(sm) {
			font-size: 3.75rem;
		}
	}
	h2 {
		font-size: 1.8rem;
		margin-bottom: .5rem;
		@include media-breakpoint-up(sm) {
			font-size: 2.5rem;
		}
	}
	h3 {
		font-size: 1.35rem;
		@include media-breakpoint-up(sm) {
			font-size: 1.75rem;
		}
	}
	.introPar {
		font-size: 1.222222222rem;
	}
	a {
		text-decoration: underline;
	}
}
.btn-success, #gform_wrapper_1 .gform_button {
	background-color: $sitered;
	border-color: $sitered;
}
#gform_wrapper_1 .gform_footer {
	text-align: left !important;
}
.clientTestimonial {
	background-color: #f7f6f6;
	border-left: none;
	padding: 2rem 2rem 1rem;
	margin: 0 0 2.5rem 0;
	p {
		font-size: .95rem;
		font-family: $headings-font-family;
		line-height: 2.15rem;
	}
	cite {
		font-size: .78rem;
		font-weight: 700;
		font-family: $font-family-base;
		text-transform: uppercase;
		text-align: right;
		display: block;
		@include media-breakpoint-down(lg) {
			margin-top: 2rem;
		}
	}
}