html,
body {
    min-width: 320px;

    #home-page {
        @include media-breakpoint-down(sm) {
            text-align: center;
        }
    }
}

.side-a {
    background: white url('../images/menu-bg@2x.jpg') no-repeat 0 0;
    z-index: 20;

    @include media-breakpoint-up(lg) {
        width: 300px;
        height: 100%;
        position: fixed;
        box-shadow: 17px 0px 84px -5px rgba(0, 0, 0, 0.1);
    }

    @media screen and (max-height: 768px) and (min-width: 992px) {
        position: absolute;
    }
}

.side-b {
    z-index: 10;

    @include media-breakpoint-up(lg) {
        margin-left: 300px;
    }
}

.padded-container {
    padding-left: 3rem;
    padding-right: 3rem;

    @include media-breakpoint-down(lg) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.content {
    background: url('../images/bg-accommodation.jpg') no-repeat 0 0;
    background-size: 100%;
    background-attachment: fixed;
}

#page {
    position: relative;
}

.menu-column {

    @include media-breakpoint-up(xl) {
        width: 22%;
        background-color: white;
        box-shadow: 17px 0px 84px -5px rgba(0, 0, 0, 0.1);
        position: relative;
    }

}

.content-column {
    @include media-breakpoint-up(xl) {
        width: 78%;
    }
}

.menu-column-inner {

    @include media-breakpoint-up(xl) {
        position: fixed;
        height: 100%;
        width: 22%;
        background: white url('../images/menu-bg@2x.jpg') no-repeat 0 0;
        background-attachment: fixed;
    }
}

.section {
    padding: 3.5rem 0;

    @include media-breakpoint-down(lg) {
        padding: 2.5rem 0;
    }
}

.home-newsletter-cta {
    overflow: hidden;
    color: rgba($white, .7);
}

.home-intro-cta {
    background: #fff url('../images/index-hero-bg.jpg') no-repeat top center;
    padding-top: 6rem;

    @include media-breakpoint-up(md) {
        margin-bottom: 2.5rem;
    }

    @include media-breakpoint-up(xl) {
        background-color: #505d71;
        background-size: cover;
        margin-bottom: 14rem;
    }

    p.lead {
        margin-bottom: 3.5rem;

        @include media-breakpoint-up(xl) {
            margin-bottom: 7rem;
        }
    }
}

.home-intro-cards {
    @include media-breakpoint-up(xl) {
        margin-bottom: -20rem;
        padding-bottom: 8rem;
    }
}

.btn-success, #gform_wrapper_1 .gform_button {
    background-color: $primary;
    border-color: $primary;
}

#gform_wrapper_1 .gform_footer {
    text-align: left !important;
}

.hone-newsletter-bgsplit {
    .img-clipblock {
        height: 100%;
        position: absolute;
        top: 0;
    }
}

.img-clip-1 {
    background: url('../images/index-newsletter-img-1.jpg') no-repeat top center;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    left: 0;
    @include media-breakpoint-up(xl) {
        -webkit-clip-path: polygon(0 0%, 100% 0%, 89% 100%, 0% 100%);
        clip-path: polygon(0 0%, 100% 0%, 89% 100%, 0% 100%);
        width: 73%;
    }
}

.img-clip-2 {
    @include media-breakpoint-down(xl) {
        display: none;
    }
    @include media-breakpoint-up(xl) {
        background: url('../images/index-newsletter-img-2.jpg') no-repeat left center;
        -webkit-background-size: cover;
        background-size: cover;
        -webkit-clip-path: polygon(24% 0%, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(24% 0%, 100% 0%, 100% 100%, 0% 100%);
        width: 40%;
        right: 0;
    }
}


.card {
    border-radius: 0;
    border: none;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15);

    img {
        border-bottom: 8px solid $site-yellow;
    }
}

.card-img-top {
    border-radius: 0;
}

.card-body {
    padding: 1.75rem;
}

.accommodation-bg {
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-top: 8px solid #c6c6c6;
}

.home .accommodation-bg {
    background: url('../images/bg-accommodation.jpg') no-repeat 0 0;
    background-size: 100%;
}

.accommodation-deck {

    @include media-breakpoint-up(lg) {

        overflow-y: hidden;
        padding-bottom: 2.5rem;

        .card {
            min-width: 360px;
            width: 360px;

            .card-body {
                padding-bottom: 2.5rem;
            }
        }
    }
}

.acc-controls {
    max-width: 400px;
}

.instagram-user {
    a {
        color: $body-color;
    }

    @include media-breakpoint-down(sm) {
        font-size: .85rem;
    }
}

.sb_instagram_header {
    display: none;
}

.instagram-intro {
    i {
        color: #201b34;
    }
}

.owl-nav {
    display: inline-block;
}

.owl-carousel .owl-stage-outer {
    padding: 2rem 1.5rem 3rem 1.5rem;
}

.owl-nav button {
    line-height: 40px;
    height: 39.5px;
    text-align: center;
    display: inline-block;
    width: 50px;
    color: $white;
    background-color: #606060;
    border: none;

    i.fas {
        font-size: 24px;
        vertical-align: text-bottom;
    }
}

button.owl-next {
    border-radius: 0 2rem 2rem 0;
    padding: 0;

    &:hover,
    &:active {
        color: white;
        background-color: #4c4b4b;
    }
}

button.owl-prev {
    border-radius: 2rem 0 0 2rem;
    padding: 0;

    &:hover,
    &:active {
        color: white;
        background-color: #4c4b4b;
    }
}

// Owl flexbox tweak
.card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.owl-carousel {
    .owl-stage {
        display: flex;
    }

    .owl-item {
        display: flex;
        flex: 1 0 auto;
    }

    .caption {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
    }

    .thumbnail {
        display: flex;
        flex-direction: column;
        margin: 0 15px;
    }
}

.owl-stage-outer {
    padding-bottom: 2.3rem;
}

#breadcrumbs {
    text-transform: uppercase;
    font-size: 80%;
    margin-bottom: 1rem;

    a {
        margin-right: .3rem;
        color: #343434;
        font-weight: 700;
    }

    .breadcrumb_last {
        margin-left: .2rem;
    }
}

.accommodationTables {

    table {
        tr {
            font-size: .777777778rem;
            margin-bottom: 1rem;

        }
    }

    .td-w-40 {
        width: 40%;
    }
}

.category-page {
    .card {
        @include media-breakpoint-down(sm) {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

/* Modal */

.mfp-iframe-holder .mfp-content {
    @include media-breakpoint-up(lg) {
        max-width: 80%;
    }
}

/* Gutenberg */

.wp-block-embed {
    @extend .embed-responsive;
    @extend .embed-responsive-16by9;
    margin-bottom: $paragraph-margin-bottom;
}