.contactDetails {
	border-top: 4px solid $gray-brand;

	a {
		color: $body-color;
	}

	hr {
		width: 3rem;
		margin:.333333333rem 0 1rem;
		background-color: #e1e1e1;
		height: 2px;
		border: 0;
	}
}

.home .contactDetails {
	border-top: none;
}

#secondary-logo-svg {
	width: 100%;
	@include media-breakpoint-down(md) {
		margin-bottom: 1rem;
	}
}

.subscribeCTA {
	background: #a4364d url('../images/footer-red-bg.jpg') no-repeat bottom center;
	background-size: cover;
	color: rgba(white, .75);
}

.btmFooterBar {
	color: #7d7d7d;
	font-size: .777777778rem;
	text-align: center;
	a {
		color: inherit;
	}
	p {
		margin-bottom: 0;
	}
}

#mc-embedded-subscribe-form {

	.mc-field-group {
		@extend .form-group;
	}

	input[type="email"], input[type="text"] {
		@extend .form-control;
		border: none;
	}

	input[type="submit"] {
		@extend .btn;
		@extend .btn-dark;
		@extend .btn-lg;
	}

	select {
		@extend .custom-select;
		border: none;
	}

	.checkbox {
		@extend .form-check;
		@extend .form-check-inline;

		input {
			@extend .form-check-input;
		}

		span {
			@extend .form-check-label;
		}
	}
}