
footer {
    background: #6c6b6b;
    h4 {
        color: #EFEFEF;
    }

    p,
    a
    {
        font-size: .888888889rem;
        color: rgba(#EFEFEF, .75);
    }
    .footer-bar {
        background-color: rgba(#363635,.98);
        color: #848484;
        a {
            color: inherit;
        }
    }
}

#mc-embedded-subscribe-form {

	.mc-field-group {
		@extend .form-group;
	}

	input[type="email"], input[type="text"] {
		@extend .form-control;
		border: none;
	}

	input[type="submit"] {
		@extend .btn;
		@extend .btn-dark;
		@extend .btn-lg;
	}

	select {
		@extend .custom-select;
		border: none;
	}

	.checkbox {
		@extend .form-check;
		@extend .form-check-inline;

		input {
			@extend .form-check-input;
		}

		span {
			@extend .form-check-label;
		}
	}
}