
footer {
    background: #6c6b6b url('../images/footer-bg.jpg');
    background-size: cover;
    font-size: 90%;

    h4 {
        color: #EFEFEF;
    }

    p,
    a:not(.btn) {

        color: rgba(#EFEFEF, .75);
    }

    .footer-bar {
        font-size: 90%;
        background-color: rgba(#363635, .98);
        color: #848484;

        a {
            color: inherit;
        }
    }
}