.topbar {
	background: $top-bar-color;
	color: rgba(white, 0.75);
    padding: 1rem 0;
    border-top: 4px solid darken($top-bar-color,7.5%);

	a {
		color:rgba(white, 0.75);
        font-weight: 700;
        text-decoration: underline;
	}
    @include e(telcta) {
        i {
            color:rgba(white, 0.25);
        }
        a {
            color: white;
            text-decoration: none;
        }
    }
}

.navbar-toggler {
	color: $white;
	font-weight: 700;
}

.navbar-nav {

	.menu-item {
		@extend .flex-fill;
		text-align: center;
        color: $nav;
        @include media-breakpoint-up(lg) {
            text-align: left;
        }
	}

	.menu-item.active a,
	.current-menu-ancestor.active a {

            background: url('../images/active-nob@2x.png') no-repeat -6px center;
            font-weight: 700;
            color: $active;


	}

	.nav-link {
		font-size: 1.111111111rem;
		color: $nav;
		padding: .5rem 2.8rem;
        display: block;

		&:hover {
            font-weight: 700;
		}
	}
}
.menu-switch {
    position: absolute;
    right: 1rem;
    top: -134px;
    @include media-breakpoint-up(sm) {
        top: -122px;
    }
}

.menu-socialmedia-wrapper {
    background-color: #404040;
}

.menu-socialmedia-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    li {
        padding: 5px 0;
        display: flex;
        justify-content: center;

        &:nth-child(even) {
            background-color: #606060;
        }
    }
    a {
        color: white;
        width: 100%;
        text-align: center;
        font-size: 1.888888889rem;

    }
}