.topbar {
	background: $top-bar-color;
	color: white;
    padding: 1rem 0;
    border-top: 4px solid darken($top-bar-color,7.5%);

	a {
		color: white;
        font-weight: 700;
        text-decoration: underline;
	}
}

.navbar-toggler {
	color: $white;
	font-weight: 700;
}

.navbar-nav {

	.menu-item {
		@extend .flex-fill;
		text-align: center;
        color: $nav;
        @include media-breakpoint-up(lg) {
            text-align: left;
        }
	}

	.menu-item.active a,
	.current-menu-ancestor.active a {
		@include media-breakpoint-up(lg) {
			border-left-color: #ffcb00;
            font-weight: 700;
            color: $active;
		}
		@include media-breakpoint-down(md) {
			background-color: $primary;
			color: white;
		}
	}

	.nav-link {
		font-size: 1.111111111rem;
		color: $nav;
		border-left: $border-thickness solid #f7f6f6;
		padding: .5rem 2.8rem;
        display: block;

		&:hover {
            font-weight: 700;
		}
	}
}

.menu-socialmedia-wrapper {
    background-color: #404040;
}

.menu-socialmedia-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    li {
        padding: .25rem 0;
        display: flex;
        justify-content: center;

        &:nth-child(even) {
            background-color: #606060;
        }
    }
    a {
        color: white;
        width: 100%;
        text-align: center;
        font-size: 1.888888889rem;

    }
}