.topbar {
	background: $top-bar-color;
	color: white;
	font-size: 1.222222222rem;
	line-height: 3.555555556rem;
	@include e(getStarted) {
		@include media-breakpoint-up(sm) {
			display: block;
		}
	}
	a {
		color: white;
		display: inline-block;
	}
	@include e(getStarted) {
		a {
			background-color: darken($top-bar-color, 15%);
			font-weight: 700;
			i {
				padding-left: 26px;
				font-size: 1.5rem;
				top: 3px;
				position: relative;
			}
		}
	}
}

.navbar-toggler {
	color: $white;
	font-weight: 700;
}

.indexhero {
	background-color: $gray-brand;
	@include media-breakpoint-up(lg) {
		background: $gray-brand url(../images/index-hero.jpg) no-repeat center right;
		background-position-x: 25%;
	}
	@include random-min(99.375) {
		background-position-x: right;
	}
}
#main-logo-svg {
	width: 398px;
	@include media-breakpoint-down(sm) {
		height: 162px;
	}
}
#pages-logo-svg {
	width: 398px;
	height: 162px;
}
#pagesHeaderLogo {
	@include media-breakpoint-down(md) {
		background-color: $gray-brand;
	}
}

.mainMenu {
	background-color: $gray-brand;

	.container {
		@include media-breakpoint-down(xs) {
			max-width: none;
			padding: 0;
		}
	}
}

.navbar-nav {

	.menu-item {
		@extend .flex-fill;
		text-align: center;
	}

	.menu-item.active a,
	.current-menu-ancestor.active a {
		@include media-breakpoint-up(lg) {
			border-bottom-color: $primary;
		}
		@include media-breakpoint-down(md) {
			background-color: $primary;
			color: white;
		}
	}

	.nav-link {
		font-size: 1.111111111rem;
		color: $body-color;
		border-bottom: $border-thickness solid #f7f6f6;
		padding: 1.75rem 1.25rem 1.25rem 1.25rem;

		&:hover {
			border-bottom-color: $primary;
		}
	}
}

.home .mainMenu {
	background-color: #fff;

	.nav-link {
		border-bottom-color: $white;
	}
}