// Fonts

// Responsive font sizing
html {
    font-size: 17px;
}

// Sets font size to 16px on form elements to prevent input zoom on mobile devices
@include media-breakpoint-down(sm) {
    .form-control {
        font-size: $font-size-base * 1.075;
    }
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 18px;
    }
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: $font-family-base;
    -webkit-overflow-scrolling: touch;
    line-height: 1.5;
}

.text-primary-copy {
    color: lighten($primary, 10%);

    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        color: $primary;
    }
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    line-height: 1.2;

    @include media-breakpoint-down(lg) {
        br {
            display: none;
        }
    }
}

.lc-heading {
    text-transform: none;
}
h1,
h2,
h3 {
    font-family: $ff-2;
}
.h1, h1 {
    font-size: 2.5rem;

    @include media-breakpoint-down(md) {
        font-size: 2.5rem;
    }
}

.h2, h2 {
    font-size: 2rem;

    @include media-breakpoint-down(md) {
        font-size: 1.75rem;
    }
}

.h3, h3 {
    @include media-breakpoint-down(md) {
        font-size: 1.5rem;
    }
}

.h4, h4 {
    @include media-breakpoint-down(md) {
        font-size: 1.5rem;
    }
}

.h6, h6 {
    text-transform: none;
}

strong {
    font-family: $font-family-sans-serif;
    font-weight: 600;
}

.sub-heading {
    color: $body-color;
    font-weight: 400;
}

.sub-heading--sm {
    text-transform: none;
}

.blockquote, blockquote, .pull-quote {
    padding: 1.5rem 2.5rem;
    margin: $matrix-block-margin 0;
    font-size: 120%;
    border-left: 4px solid gray("300");
    clear: both;
}

.pull-quote {
    border: none;
}

.spaced-list {
    padding: 0 0 0 22px;
}

.spaced-list li {
    margin-bottom: .5rem;
}

.lead strong {
    font-weight: 600;
}

.lead {
    font-size: 1.25rem;

    @include media-breakpoint-down(md) {
        font-size: 100%;
    }
}

.text-md {
    font-size: 90%;
}

.list-unstyled li {
    border-bottom: 1px solid $primary;
    padding-bottom: .5rem;
}

.list-unstyled li + li {
    margin-top: .5rem;
}

.styled-list {
    padding: 0 0 0 .25rem;

    li {
        list-style: none;
        padding-left: 1.5rem;
        position: relative;

        &:before {
            content: "\f00c";
            font-family: "Font Awesome 5 Free";
            color: $green;
            font-weight: 900;
            position: absolute;
            left: 0;
            top: .25rem;
            font-size: 80%;
        }
    }

    li + li {
        margin-bottom: .5rem;
    }
}