

// fonts

$ff-1:'Open Sans', sans-serif;
$ff-2:'Raleway', sans-serif;

// media queries size ===================

$xs: 35.469;//568px
$sm: 41.656;//667px
$md: 47.969;//768px
$lg: 61.969;//992px
$xl: 74.969;//1200px
$xxl: 89.969;//1440px

.white {
  color: white;
}

$sh-red: #9c192f;

// BEM selectors ===================

@mixin e($name) {
	@at-root &__#{$name} {
		@content
	}
}
@mixin m($name) {
	@at-root &--#{$name} {
		@content
	}
}

// Media Queries ===================

$tablet-width: 48em;
$desktop-width: 73.143em;

@mixin random-max($wmax) {
  @media (max-width: #{$wmax}em) {
    @content;
  }
}
@mixin random-min($wmin) {
  @media (min-width: #{$wmin}em) {
    @content;
  }
}
@mixin random-from-to($wfrom,$wto) {
  @media (min-width: #{$wfrom}em) and (max-width: #{$wto}em) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-width + 0.071em}) {
    @content;
  }
}